## Vector

In [4]:
# Combine  --> 한 줄로 쭉나오는게 Vector값이다. 
v1 <- c(1,3,4)
v1[1]
v1[2]
v1[1] + v1[2]
v1[c(1,2)]

[1] 1

[1] 3

[1] 4

[1] 1 3

In [5]:
# :  --> Colon
2:10

[1]  2  3  4  5  6  7  8  9 10

In [6]:
# seq 범위 특정값 단위로 
seq(2, 10, 2)

[1]  2  4  6  8 10

In [10]:
# rep 반복
rep(1,3)
rep(c(1,2),3)
rep(1:5, 3)
rep("blue", 3)

[1] 1 1 1

[1] 1 2 1 2 1 2

 [1] 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5

[1] "blue" "blue" "blue"

In [16]:
# 2차원 데이터 -> 행과 열이 있으므로

iris[1:6, 1:2]
iris[1:6, c("Sepal.Length", "Sepal.Width")]
#컬럼이름 다쓰기 싫을때
cloumnName <- c("Sepal.Length", "Sepal.Width")
iris[1:6,cloumnName]

  Sepal.Length Sepal.Width
1 5.1          3.5
2 4.9          3.0
3 4.7          3.2
4 4.6          3.1
5 5.0          3.6
6 5.4          3.9

  Sepal.Length Sepal.Width
1 5.1          3.5
2 4.9          3.0
3 4.7          3.2
4 4.6          3.1
5 5.0          3.6
6 5.4          3.9

  Sepal.Length Sepal.Width
1 5.1          3.5
2 4.9          3.0
3 4.7          3.2
4 4.6          3.1
5 5.0          3.6
6 5.4          3.9

In [17]:
# [,] 안써도 에러 안남  --> 기본 값(Default)이 열에 대한(row) 값이다. 
str(iris[1:2])

'data.frame':	150 obs. of  2 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...

In [18]:
length(iris)

[1] 5

In [20]:
paste(iris[1,5], ":" , 123, iris[2,5], sep = ",")

[1] "setosa,:,123,setosa"

In [21]:
print(head(iris))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [25]:
cat("AAA", "\n" ,"BBB", sep = "")

AAA
BBB

# Matrix

In [26]:
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)

In [27]:
# 만들수 있는 방식이 두가지가 있다. --> data 추가는 무조건 rbind // column 추가하는 것은 cbind
matrix(1:9,3)

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [40]:
mat1 <- rbind(vec1, vec3, vec2)
colnames(mat1) <- c("A", "C", "B")
mat1
# 컬럼 위치 변경 할때 !
mat1 <- mat1[c(1,3,2),c("A", "B", "C")]
mat1

     A C B
vec1 1 2 3
vec3 7 8 9
vec2 4 5 6

     A B C
vec1 1 3 2
vec2 4 6 5
vec3 7 9 8

In [52]:
mat2 <- cbind(vec1,vec2,vec3)
rownames(mat2) <- c("A" , "B" , "C")
print(mat2)

vec4 <- 10:12
mat2 <- as.data.frame(mat2)
mat2
class(mat2)
#데이터 프레임이니까 추가가능
mat2$vec4 <- vec4
# 다시 메트릭스화
mat2 <- as.matrix(mat2)
class(mat2)
mat2
#막대그래프 일때 메트릭스만 읽을수 있다 , <-> Data Frame은 읽을 수가 없다. 
#matrix는 타입이 하나인것만 될수 있다 <-> Data Frame 은 factory, ...등 다양하게 타입을 둘 수있다.

  vec1 vec2 vec3
A    1    4    7
B    2    5    8
C    3    6    9

  vec1 vec2 vec3
A 1    4    7
B 2    5    8
C 3    6    9

[1] "data.frame"

[1] "matrix"

  vec1 vec2 vec3 vec4
A 1    4    7    10
B 2    5    8    11
C 3    6    9    12

# 데이터 프레임(Data Frame)

In [53]:
no <- 1:4
name <- c("Apple", "Banana", "Peach" , "Berry")
price <- c(500, 400, 300, 100)
qty <- c(5, 3, 2, 10)

In [56]:
# 글부터 셋팅을 다해보고 Vector 로 넣어 준다. 
fruit <- data.frame(번호 = no, 상품명 = name, 가격 = price, 수량 = qty)

In [58]:
#data 모양이 줄줄로 나오면 []가능 [,]도 가능
fruit 
colnames(fruit)
rownames(fruit)

  번호 상품명 가격 수량
1 1    Apple  500   5
2 2    Banana 400   3
3 3    Peach  300   2
4 4    Berry  100  10

[1] "번호"   "상품명" "가격"   "수량"

[1] "1" "2" "3" "4"

In [59]:
# structure, tail, head, 
str(fruit)

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: Factor w/ 4 levels "Apple","Banana",..: 1 2 4 3
 $ 가격  : num  500 400 300 100
 $ 수량  : num  5 3 2 10

# 외부 file 불러오기

In [68]:
# txt File 불러오기  .. 한단계 뒤로 돌아가기 . 현재 위치이다. 
#다 Factor로 되있다. 
txtEmp <- read.table("../Data/emp.txt", header = T)
txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [69]:
str(txtEmp)

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: Factor w/ 3 levels "hong","kim","lee": 1 3 2
 $ 급여: int  150 250 300

In [73]:
#각 데이터 마다 ,처리되있다면 seperate 로 ,로 구분한다는것을 알려주어야 한다.
read.table("../Data/emp.txt", header = T, sep = ",")

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [74]:
#각 데이터 마다 *처리되있다면 seperate 로 *로 구분한다는것을 알려주어야 한다.
read.table("../Data/emp.txt", header = T, sep = "*")

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [75]:
#각 데이터 마다 tap처리되있다면 seperate 로 \t로 구분하거나 ""빈값으로 알려주어야 한다.
read.table("../Data/emp.txt", header = T, sep = "\t")

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [78]:
# csv는 파일 형식이다. 99%가 이형식이다. comma seperated value -table 로도 읽음
# tsv -table 로 읽음
# ssv -table 로 읽음
read.csv("../Data/emp2.csv", header = F)

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

In [80]:
read.table("../Data/emp2.csv", sep = ",")

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

In [81]:
csvEmp <- read.csv("../Data/emp2.csv", header = F)

In [82]:
str(csvEmp)

'data.frame':	5 obs. of  3 variables:
 $ V1: int  101 102 103 104 105
 $ V2: Factor w/ 5 levels "강감찬","김유신",..: 5 4 1 3 2
 $ V3: int  150 450 500 350 400

In [84]:
# 컬럼이 몇개 있냐?
ncol(csvEmp)
# row가 몇개 있냐? (data가 몇개 있냐?)
nrow(csvEmp)

[1] 3

[1] 5

In [101]:
df <- data.frame(x = 1:5, y = seq(2, 10, 2), z = c("a", "b", "c" , "d", "e"))
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [89]:
# x,y의 합계 구하기 
sum(df$x)
sum(df$y)
# z는 문자라 합계 못구함.
sum(df$z)

[1] 15

[1] 30

ERROR: Error in Summary.factor(structure(1:5, .Label = c("a", "b", "c", "d", : ‘sum’ not meaningful for factors

# 컬럼이 2개일땐 위에 꺼 써도 되지만 700개 이면??
## 함수를 부르는 함수

In [93]:
# dataframe에 함수 적용 (열 방향(row))
df
apply(df[,-3], 2, sum )
apply(df[,-3], 1, sum )

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

 x  y
15 30

[1]  3  6  9 12 15

In [102]:
df$Hap <- apply(df[,-3], 1, sum)
df

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

In [108]:
# 부분집합 ******제일 중요 Day03 중에 
subset(df, x >= 3 & y >=8)
#이게 몇개 냐? (row)
nrow(subset(df, x >= 3 & y >=8))
# 합계가 뭐냐 ? [가로,세로]
apply(subset(df, x >= 3 & y >=8)[,1:2], 2, sum)

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

[1] 2

 x  y
 9 18

# 두개 이상의 데이터프레임 병합하기

In [112]:
# Case 1 : key값이 되는 컬럼이 동일하고, data의 갯수도 동일한 경우  -> 착한 데이터네
height <- data.frame(id = 1:3, height = c(160,170,180))
height
weight <- data.frame(id=c(2,1,3), weight = c(70,60,80))
weight

#서로 위치가 안맞는 경우. ??? 밑으로 가라!

  id height
1 1  160
2 2  170
3 3  180

  id weight
1 2  70
2 1  60
3 3  80

In [113]:
#inner join outer join 과 같은 것. (in SQLD)
merge(height, weight)

  id height weight
1 1  160    60
2 2  170    70
3 3  180    80

In [115]:
# Case 2: key값이 동일하지 않고 각각의 data의 갯수도 다를경우 --> 보통 이런놈들이다. 
height <- data.frame(id = 1:3, height = c(160,170,180))
height
weight <- data.frame(ad=c(2,1), weight = c(70,80))
weight
#컬럼 이름, 값 둘다 틀리게 나온다.

  id height
1 1  160
2 2  170
3 3  180

  ad weight
1 2  70
2 1  80

In [116]:
# 문제가 발생함.  outer join 
merge(height, weight)

  id height ad weight
1 1  160    2  70
2 2  170    2  70
3 3  180    2  70
4 1  160    1  80
5 2  170    1  80
6 3  180    1  80

In [117]:
# key를 정의하고 : data가 적은 쪽의 기준으로 merge -- > 공통 부분만 사용 하겠다 inner join
merge(x = height, y = weight, by.x = "id", by.y = "ad")

  id height weight
1 1  160    80
2 2  170    70

In [118]:
# data가 많은 쪽의 기준으로 merge  -- union?
merge(x = height, y = weight, by.x = "id", by.y = "ad", all.x = T)

  id height weight
1 1  160    80
2 2  170    70
3 3  180    NA

## 행렬 함수로 행렬 만들기

In [122]:
matrix(1:10)
matrix(1:10, nrow = 2)
# 갯수를 맞게 만들어 줘야함. 
matrix(1:9, nrow = 3, ncol = 3)

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

## List
- 성격이 다른 자료구조로 생성이 가능하다 (여기까지는 Data Frame 이랑 똑같다) 
- dataframe의 row 한개 라고 보면 된다
- key와 value 값으로 구성된다
- dataFrame이랑 거의 성격이 똑같다. 한줄짜리 데이터이다.

In [125]:
member <- 
list(name="김태현", address = "서울", telno = "010-4213-3123", pay = 1000)

In [126]:
member$name

[1] "김태현"

In [127]:
member$birth <- "1992-02-11"
member

$name
[1] "김태현"

$address
[1] "서울"

$telno
[1] "010-4213-3123"

$pay
[1] 1000

$birth
[1] "1992-02-11"

In [128]:
#data type 이 뭐니?? 꼭 기억해라 ---> class()함수를 항상 이용 하여야 한다. 
class(member)

[1] "list"

# 문자열 처리
- 수집한 데이터의 문자열을 자르고, 교체하고, 추출하는 작업

### stringr package 사용 (function)
- str_length() : 문자열 길이
- str_c() : R에서 쓰는 Combine 'c'가 아니라 connect시켜주는 'c'이다.
- str_sub() : 범위에 해당하는 문자열 생성 (똑같네?)
- str_split() : 구분자를 기준으로 문자열을 분리하여 부분 생성
    ex)"123, 456, 789"있으면 123  // 456 // 789 분리해서 생성
- str_replace() : 기존 문자열 중에 첫번째 문자열을 특정 문자열로 변환하는 거다!?( 첫번째!!!)
- str_replace_all() : 기존 문자열 중에 전체를 특정 문자열로 변환하는 거다!? ( 전체!!!)
- str_remove(), str_remove_all() : 문자열 제거                ///'all' 없으면 무조건 첫번째 것만!!!!///
- str_extract(), str_extract_all() : 특정 패턴의 문자열 추출    ///'all' 없으면 무조건 첫번째 것만!!!!///
- str_locate(), str_locate_all() : 특정 패턴의 위치 추출       ///'all' 없으면 무조건 첫번째 것만!!!!///

In [129]:
#기존 패키지에는 없음 --> 패키지 불러와야함 
#Note 하나당 한번만 불러오면 그 Note에서는 쓸수 있으나 -> 다른 Note로 가면 다시 불러와야함
library(stringr)

Attaching package: ‘stringr’

The following object is masked _by_ ‘.GlobalEnv’:

    fruit

In [130]:
#계속 바뀌는 데이터, or 이런식으로 온 데이터
string <- "hongkildong105yoube1002kwanwoo25장비2005"

In [131]:
# a ~ z 까지의 영문자가 연속으로 3개 발견된 문자열 추출 --> 3개씩 끊어서 쓴다. 
# 정규식 표현이다 [a-z]{3}
# 한글,숫자 안써짐. 그냥 알파벳 3개 씩만 가져 오겠다는 의미 !
# 3개씩 끊었는데 3개가 안되면 안나온 식이다. 
str_extract_all(string, "[a-z]{3}")

[[1]]
[1] "hon" "gki" "ldo" "you" "kwa" "nwo"

In [132]:
# a ~ z 까지의 영문자가 연속으로 3개 ~ 5개 발견된 문자열 추출. 
# 숫자 한글 빼두고 3~5 개 가 나온거다 min : 3, max : 5
str_extract_all(string, "[a-z]{3,5}")

[[1]]
[1] "hongk" "ildon" "yoube" "kwanw"

In [138]:
# a ~ z 까지의 영문자가 연속으로 3개 이상 발견된 문자열 추출
# N개 이상 {N,}
a <- str_extract_all(string, "[a-z]{3,}")
# 이렇게 만 뽑아 오면 데이터 못씀(책에는 여기까지 나옴) -- > []이렇게 쓰는것은 Vector
a[1]
a[2]
class(a)
# 1 이 key 값이다. 그니까---> list 해체 해야 함. 
# list 해체하기
b <- unlist(a)
b[1]

[[1]]
[1] "hongkildong" "yoube"       "kwanwoo"

[[1]]
NULL

[1] "list"

[1] "hongkildong"

In [173]:
# 숫자만 추출하여 합계 구하기 ! ???
number <- unlist(str_extract_all(string, "[0-9]{1,}"))
class(number)
num1<- as.numeric(number)
class(num1)
sum(num1)

[1] "character"

[1] "numeric"

[1] 3137

In [177]:
# 선생님 Version --> 가급적이면 데이터 안쓰기위해 변수 안넣는게 좋다. 
sum(as.numeric(unlist(str_extract_all(string, "[0-9]{1,}"))))

[1] 3137

In [185]:
# 한글만 추출하기 
unlist(str_extract_all(string, "[가-힣]{1,}"))

[1] "장비"

In [189]:
# 영문자를 제외한 문자 출력하기    '^' not include 하는 것이다. 범위 안에만 넣어주면 된다. 
str_extract_all(string, "[^a-z]{1,}")

[[1]]
[1] "105"        "1002"       "25장비2005"

In [190]:
# 문자열 길이 구하기 
str_length(string)

[1] 38

In [191]:
# 문자열 위치 구하기
str_locate(string, "장비") # 장비의 위치가 33째 부터 34째 까지다.

     start end
[1,] 33    34

In [193]:
# 장비(특정단어)라는 글자 기준으로 그 앞의 데이터들 만 쓰겠다. 할때 str_locate가 엄청 편하다. 
# 부분 문자열 추출
# hongkildong105yoube1002kwanwoo25 까지는 32번째 까지이다.
str_sub(string, 1, 32)
# 위에 처럼쓰면 데이터 위치 바뀔때 마다 바꿔 줘야하지만 밑에 처럼쓰면 아무상관없음
# [1]  --> start이다. 
str_sub(string,1, str_locate(string, "장비")[1] -1)

[1] "hongkildong105yoube1002kwanwoo25"

[1] "hongkildong105yoube1002kwanwoo25"

In [196]:
# 한글은 상관없으나 영어는 대문자, 소문자 변경을 할수있어야 한다.
str_to_upper(string)
str_to_lower(string)

[1] "HONGKILDONG105YOUBE1002KWANWOO25장비2005"

[1] "hongkildong105yoube1002kwanwoo25장비2005"

In [205]:
# 문자열 교체하기   // 단어가 하나씩 일때  : str_replace()// 많을때  : str_replace_all()
string <- str_replace(string, "hongkildong105", "홍길동35")
string <- str_replace(string, "yoube1002", "유비45")
string <- str_replace(string, "kwanwoo25", "관우25")
string <- str_replace(string, "2005", "20")
string

[1] "홍길동35유비45관우25장비20"

In [206]:
# 문자열 분리하기 , :콤마 기준으로 짤라줌.
str_split(string, ",")

[[1]]
[1] "홍길동35유비45관우25장비20"

In [225]:
# 천단위 쉼표가 들어간 문자열을 숫자로 변경하기
# **** 많이 씀
price <- "123,456,789"
price
str_replace_all(price, ",","")

# 첫번째 방법- 선생님
as.numeric(str_replace_all(price, ",", ""))

# 두번째 방법- 선생님
as.numeric(str_remove_all(price, ","))

[1] "123,456,789"

[1] "123456789"

[1] 123456789

[1] 123456789

In [227]:
# NA를 변경하기    -NA --> 결측치 
# **** 많이 씀   
temp <- c(1,2,NA,4)
sum(temp)
# -> NA 변경해야함
as.numeric(str_replace_na(temp, 10))

[1] NA

[1]  1  2 10  4

---
# 제어문(조건문)

In [288]:
# 첫번째   (ex)- 나이에 따라 할인률이 달라져야 할경우
x <- 10
y <- runif(1) * 100

if(x > y){
    print("x > runif()")
    print(y)
}
print("-----END-----")

[1] "x > runif()"
[1] 4.811927
[1] "-----END-----"

In [366]:
# 두번째 
x <- 10
y <- runif(1) * 100

if(x > y){
    print("x > runif()")
    print(y)
}else {
    print("x <= runif()")
    print(y)
}
print("-----END-----")

[1] "x <= runif()"
[1] 89.19597
[1] "-----END-----"

In [607]:
# 세번째 
x <- 10
y <- trunc(runif(1) * 100)

if(x > y){
    print("x > runif()")
    print(y)
}else if(x < y){
    print("x < runif()")
    print(y)
}else {
    print("x = runif()")
    print(y)
}
print("-----END-----")

[1] "x < runif()"
[1] 52
[1] "-----END-----"

In [614]:
### 홀 짝수 구분하기 !!!! 해라~!
a <- 8

if(a %% 2 ==0){
    #print("짝수")
    cat(a, "는 짝수 입니다. \n")
}else{
    #print("홀수") cat을 많이 쓴다. 
    cat(a, "는 홀수 입니다. \n")
}

8 는 짝수 입니다.

In [615]:
# R의 함수를 이용한 홀짝수 구분  /// ifelse()는 자체적으로 반복할수있는 함수이다. 위와 달리 vector기능 사용가능
a <- c(8,9,10)
ifelse(a %% 2 == 0, "짝수", "홀수")

[1] "짝수" "홀수" "짝수"

In [632]:
#'8:짝수''9:홀수''10:짝수'
paste(a ,ifelse(a %% 2 == 0, ": 짝수", ": 홀수"))

# 선생님 방식 vector를 합치는 방식
ifelse(a %% 2 == 0,paste(a, ":짝수"),paste(a, ":홀수"))

[1] "8 : 짝수"  "9 : 홀수"  "10 : 짝수"

[1] "8 :짝수"  "9 :홀수"  "10 :짝수"

### readline

In [637]:
num1 <- as.numeric(readline("숫자를 입력하세요!"))
num1
class(num1)

숫자를 입력하세요!12

[1] 12

[1] "numeric"

In [645]:
# 사용자로 부터 data를 입력받아 홀수 인지 짝수 인지 판단하여서 출력하라!
num2 <- as.numeric(readline("숫자를 입력하세요"))
paste(num2, ifelse(num2 %% 2 == 0 , ": 짝수", ": 홀수"))

숫자를 입력하세요12

[1] "12 : 짝수"

In [654]:
# 사용자로 부터 점수를 입력받아 학점으로 변경하여 출력하기
# 90이상 A , 80 이상 B, 70이상 C
num2 <- as.numeric(readline("숫자를 입력하세요"))
if(num2 >= 90 & num2 <= 100){
    #print("짝수")
    cat(num2, "점 A학점 입니다. \n")
}else if(num2 >= 80 & num2 < 90){
    #print("홀수") cat을 많이 쓴다. 
    cat(num2, "점 B학점 입니다. \n")
}else if(num2 >=70 & num2 < 80){
        cat(num2, "점 C학점 입니다. \n")
}else if(num2 <= 69 & num2 >= 0){
    cat("F학점 입니다. \n")
}else{
    cat("다시 입력해 주세요.")
}

숫자를 입력하세요55
F학점 입니다.

In [659]:
# excel이라는 변수 이름으로 data불러오기
excel <- read.csv("../Data/excel.csv")
head(excel)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

In [660]:
#이거를 보고 판단 해야한다. 
str(excel)

'data.frame':	402 obs. of  5 variables:
 $ q1: int  2 1 2 3 3 4 3 4 4 4 ...
 $ q2: int  4 2 3 5 2 3 4 2 4 2 ...
 $ q3: int  4 2 4 5 4 3 4 4 5 4 ...
 $ q4: int  2 2 3 3 4 4 2 4 3 2 ...
 $ q5: int  2 2 3 3 4 2 2 4 4 3 ...

In [668]:
# q1컬럼에서 data가 3보다 크거나 같으면 data의 제곱근을 구하고 
# 아니면 원래 data출력하기
ifelse(excel$q1 >= 3 , sqrt(excel$q1),excel$q1)
excel$q6 <- ifelse(excel$q1 >= 3, sqrt(excel$q1),excel$q1)
head(excel)

  [1] 2.000000 1.000000 2.000000 1.732051 1.732051 2.000000 1.732051 2.000000
  [9] 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 1.000000 1.732051
 [17] 1.732051 1.732051 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000
 [25] 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.000000 1.732051
 [33] 1.732051 1.732051 2.000000 1.732051 2.000000 2.000000 1.732051 2.000000
 [41] 2.000000 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000 1.000000
 [49] 2.000000 1.732051 2.000000 2.000000 1.732051 2.000000 1.732051 2.000000
 [57] 2.000000 2.000000 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051
 [65] 1.732051 1.732051 1.732051 2.000000 1.000000 2.000000 1.732051 1.732051
 [73] 1.732051 2.000000 2.000000 2.000000 1.000000 1.732051 1.732051 2.000000
 [81] 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051 2.000000 1.732051
 [89] 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.000000 2.000000
 [97] 2.000000 2.000000 2.000000 2.000000 1.732051 1.732051 2.000000 1.732051
[105] 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[113] 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 2.000000
[121] 1.000000 1.732051 2.000000 1.732051 1.732051 2.000000 1.732051 1.732051
[129] 1.732051 2.000000 2.000000 2.000000 1.000000 1.732051 1.732051 2.000000
[137] 1.732051 2.000000 1.732051 1.000000 2.000000 1.732051 2.236068 2.000000
[145] 1.732051 1.732051 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051
[153] 1.000000 1.732051 2.000000 2.000000 1.732051 1.732051 2.000000 2.000000
[161] 2.000000 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 2.000000
[169] 2.000000 2.000000 1.000000 1.732051 1.732051 2.000000 1.732051 2.000000
[177] 1.732051 1.000000 2.000000 1.732051 2.236068 2.000000 1.732051 1.732051
[185] 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051 1.000000 1.732051
[193] 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.732051
[201] 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 2.000000 1.000000
[209] 1.732051 2.000000 1.732051 1.732051 2.000000 1.732051 1.732051 1.000000
[217] 1.732051 1.732051 2.000000 1.732051 2.000000 1.732051 1.000000 2.000000
[225] 1.732051 2.236068 2.000000 1.732051 1.732051 2.000000 2.000000 1.732051
[233] 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000 2.000000 1.732051
[241] 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.732051
[249] 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[257] 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051
[265] 2.000000 1.000000 1.732051 2.000000 1.732051 1.732051 2.000000 2.000000
[273] 1.732051 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000 2.000000
[281] 1.732051 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[289] 1.732051 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000
[297] 2.000000 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051
[305] 1.732051 2.000000 1.000000 1.732051 1.732051 2.000000 2.000000 1.732051
[313] 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000 2.000000 1.732051
[321] 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.732051
[329] 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[337] 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051
[345] 2.000000 1.000000 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000
[353] 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000
[361] 2.000000 1.732051 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000
[369] 2.000000 2.000000 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051
[377] 1.732051 1.732051 2.000000 1.000000 1.732051 2.000000 1.732051 1.732051
[385] 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051 1.000000 1.732051
[393] 2.000000 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000 2.000000
[401] 2.000000 2.000000

  q1 q2 q3 q4 q5 q6
1 2  4  4  2  2  2.000000
2 1  2  2  2  2  1.000000
3 2  3  4  3  3  2.000000
4 3  5  5  3  3  1.732051
5 3  2  4  4  4  1.732051
6 4  3  3  4  2  2.000000

---
# 반복문

In [672]:
# 1 ~ 10까지의 숫자 출력
print(1)
print(2)
print(3)

for(i in 1:10){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [680]:
# 특정한 벡터값만 출력하기
for(i in c(1,3,5)){
    #print(i)
    print(iris[i,])
}

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
3          4.7         3.2          1.3         0.2  setosa
  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
5            5         3.6          1.4         0.2  setosa

In [683]:
# 1 ~ 10 까지 홀수만 출력하기
for(i in seq(1,10,2)){
    print(i)
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [711]:
# 1 ~ 10까지의 제곱근 구하기  // cat은 줄줄줄 이어서 붙이면 된다.
for(i in 1:10){
    cat(i,"=>",sqrt(i),"\n")
}

1 => 1
2 => 1.414214
3 => 1.732051
4 => 2
5 => 2.236068
6 => 2.44949
7 => 2.645751
8 => 2.828427
9 => 3
10 => 3.162278

In [717]:
# 1 ~ 10까지의 합계 구하기
total <- 0
for(i in 1:10){
    total <- total + i
    cat("i:",i, "/ total:", total, "\n")
}
print(total)

i: 1 / total: 1
i: 2 / total: 3
i: 3 / total: 6
i: 4 / total: 10
i: 5 / total: 15
i: 6 / total: 21
i: 7 / total: 28
i: 8 / total: 36
i: 9 / total: 45
i: 10 / total: 55
[1] 55

In [729]:
# 1 ~ 100 까지의 짝수의 합 구하기
total <- 0
data <- 1:100
total1 <- 0
for(i in 1:100){
    if(i %% 2 == 0){
        total <- total + i
    }
}
cat("1~100까지의 짝수의 합은",total, "입니다\n")
cat(data[1],"부터",data[length(data)],"의 합은",total,"입니다\n")
for(i in seq(2,100,2)){
            total1 <- total1 + i
}
cat("1~100까지의 짝수의 합은",total1, "입니다")

1~100까지의 짝수의 합은 2550 입니다
1 부터 100 의 합은 2550 입니다
1~100까지의 짝수의 합은 2550 입니다

In [751]:
# excel에서 q3 컬럼 데이터의 홀수의 합과 짝수의 합구하기
num1 <- 0
num2 <- 0
for(i in 1:length(excel$q3)){
    ifelse(excel$q3[i]%%2==0,num1<-num1+excel$q3[i],num2<-num2+excel$q3[i])
}
cat("홀수의 합은",num2 ,"이고 짝수의 합은",num1,"이다")

홀수의 합은 604 이고 짝수의 합은 852 이다

In [750]:
data <- excel$q3
sumEven <- sumOdd <- 0

for(i in data){
    if(i %% 2 == 0){
        sumEven = sumEven + i
    }else{
        sumOdd = sumOdd + i
    }
}
cat("홀수의 합은", sumOdd,"이고 짝수의 합은",sumEven,"이다")

홀수의 합은 604 이고 짝수의 합은 852 이다

In [754]:
# excel의 q3컬럼 데이터중 3의 배수의 합계를 구하시오
data1 <- excel$q3
sum <- 0
for(i in data1){
    if(i %% 3 == 0){
        sum = sum + i
    }
}
cat("3의 배수의 합:",sum)

3의 배수의 합: 216

In [756]:
# excel의 q3에서 3의 배수도 되고 4의 배수도 되는수의 합계 구하기
data2 <- excel$q3
sum2 <- 0
for(i in data1){
    if(i %% 3 == 0 | i %% 4 == 0){
        sum2 = sum2 + i
    }
}
cat("3, 4 의 배수의 합:",sum2)

3, 4 의 배수의 합: 920